@model Inventory.Models.Vendor

@{
    ViewBag.Title = "DictVendors";
    Layout = "~/Views/Shared/_LayoutDiction.cshtml";
}

<h2>DictVendors</h2>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Abbr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abbr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
